<!DOCTYPE html>
<html>
<head>
{% load static %}
<link href="{% static 'records/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<title>{{title}}</title>
</head>
<body>
{% include 'records/navbar.html' %}



<p>Note: Hold shift to pan.</p>



<div id="container" style="min-width: 310px; height: 800; margin: 0 auto" class="border">
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('container', {
            chart: {
                type: 'line',
                zoomType: 'xy',
                panning: {
                    enabled: true,
                    type: 'xy'
                },
                panKey: 'shift'
            },
            title: {
                text: 'Animal Weights'
            },
            xAxis: {
                title: {
                    text: 'Date'
                },
                type: 'datetime',
                labels: {
                    format: '{value:%d/%b/%Y}'
                }
            },
            yAxis: {
                title: {
                    text: 'Weight'
                }
            },
            series: {{graph_data|safe}},
            pointStart: Date.UTC(2021, 0, 1),
            pointInterval: 31 * 24 * 3600 * 1000 // one month

        });
    });

</script>


</div>
<script src="{% static 'records/js/highcharts.js' %}"> 
<script src="{% static 'records/js/exporting.js' %}"> 
<script src="{% static 'records/js/export-data.js' %}"> 
<script src="{% static 'records/js/bootstrap.bundle.min.js' %}" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    

</body>
</html>

