<!DOCTYPE html>
<html>
<head>
{% load static %}
<link href="{% static 'records/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<title>{{title}}</title>
</head>
<body>
{% include 'records/navbar.html' %}

<div class="container-fluid">
  <div class="row" style="background-color:grey">
    <div class="col">
      Name:
    </div>
    <div class="col">
      Feeding:
    </div>
    <div class="col">
      Full Clean:
    </div>
    <div class="col">
      Spot Clean:
    </div>
    <div class="col">
      Edit:
    </div>
  </div>
  {% for animal, feeding, full_clean, spot_clean, URL, id in animal_table_entries %}
  <div class="row" style="background-color:{% if forloop.counter|divisibleby:2 %}Gainsboro{% else %}Ghostwhite{% endif %}">
    <div class="col">
      {{animal}}
    </div>
    <div class="col">
      {{feeding}}
    </div>
    <div class="col">
      {{full_clean}}
    </div>
    <div class="col">
      {{spot_clean}}
    </div>
    <div class="col">
      <a href={% url URL animal_id=id %}>edit</a>
    </div>
  </div>
  {% endfor %}
</div>
{{temp}}

<script src="{% static 'records/js/bootstrap.bundle.min.js' %}" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>